
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/Assets/css/style.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Assets/solid.css" rel="stylesheet" type="text/css" />
        <link href="~/Assets/brands.css" rel="stylesheet" type="text/css" />
        <link href="~/Assets/fontawesome.css" rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
        ul {
            list-style: none;
        }

        .List {
            margin-top: 5px;
        }

        li {
            float: left;
            margin-left:20px;
        }
    </style>
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <ul class="List">
                    <li><i class="fas fa-phone-volume"></i>0123.888.0123(HN)-0129.233.3655(TPHCM)</li>
                    <li>Liên hệ quảng cáo</li>
                    <li><i class="fas fa-check"></i>Like</li>
                    <li><i class="far fa-dove"></i>Follow</li>
                    <li><i class="fad fa-play-circle"></i>Youtube</li>
                </ul>
            </div>
            <div class="col-md-5">
                <ul>
                    <li> <button class="btn btn-success">Đăng nhập</button></li>
                    <li><button class="btn btn-success">Đăng kí</button></li>
                    <li><input type="text" /><i class="fas fa-search"></i></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-3">
                <img src="~/Assets/img/Logo_Vnexpress.png" style="width:292.5px;height:150px;" />
            </div>
            <div class="col-md-5">
                <img src="~/Assets/img/banner-ads-1.png" style="width:487.5px;height:150px;" />
            </div>
            <div class="col-md-4">
                <img src="~/Assets/img/banner-ads-2.png" style="width:390px;height:150px;" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="border:1px solid #4cff00"></div>
            </div>
        </div>
    </div>


</body>
</html>
