
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/Assets/css/style.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="container" style="background-color:blueviolet">
        @*<div class="row">
            <div class="col-md-8" style="background-color:brown">.col-md-8</div>
            <div class="col-md-4" style="background-color:brown">.col-md-4</div>
        </div>*@
        <div class="row">
            <div class="col-md-4" style="background-color:brown">.col-md-4</div>
            <div class="col-md-4 col-md-offset-4" style="background-color:yellow">.col-md-4 col-md-offset-4</div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3" style="background-color:chartreuse">.col-md-3 col-md-offset-3"</div>
            <div class="col-md-3 col-md-offset-3" style="background-color:yellowgreen">.col-md-3 col-md-offset-3"</div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-5" style="background-color:chartreuse">.col-md-5 col-md-offset-5"</div>
            <div class="col-md-2" style="background-color:orangered">.col-md-2</div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-4 col-md-push-4" style="background-color:greenyellow">colum1</div>
            <div class="col-md-4 col-md-pull-4" style="background-color:red">colum2</div>
        </div>
    </div>

</body>
</html>
