
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Font Awesome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <p>
        <i class="fa fa-spinner fa-spin fa-3x "></i>
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw "></i>
        <i class="fa fa-refresh fa-spin fa-3x fa-fw "></i>
        <i class="fa fa-cog fa-spin fa-3x fa-fw "></i>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw "></i>
    </p>
</body>
</html>
